/*make html into tabs and scroll sideways*/  
html {
    font-size: 70%;
    overflow: hidden;
    
}

body {
    background: #1f242dd8;
    color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    padding: 2rem;
    padding-left: 15rem;
    background: rgba(90, 92, 92, 0.256);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo {
    font-size: 2.5rem;
    color: whitesmoke;
    font-weight: 700;
    cursor: default;
    text-decoration: solid;
    font-style: inherit;

}

.navbar a {
    font-size: 1.3rem;
    color: white;
    margin-left: 3rem;
    transition: .3s;
    font-style: normal;
    text-decoration: solid;
}

.navbar a:hover,
.navbar .cyan {
    color: aqua;
}

#menu-icon {
    font-size: 3rem;
    color: whitesmoke;
    display: none;

}

section {
    flex: content;
    min-height: 50rem;
    padding: 10rem;
}


/*
grey box around Qualifications*/
.box{
    background:rgba(128, 128, 128, 0.286);
    padding: 10%;
    border-radius: 10%;
    
}

img {
    width: 50%;
    border-radius: 50%;


}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/src/css/image/hero1.jpeg);
    background-position: center;
    background-size: cover;
}

.home-content {
    background: color grey;
}

.home-content h3 {
    font-size: 2rem;
    font-weight: 800;

}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

h3 {
    color: aqua;
}

.home-content h1 {
    font-size: 5rem;
    font-weight: 0;
    line-height: 1;
}

.home-content p {
    font-size: 1.2rem;

}



/*Hero image*/
.home {
    background: url(../css/image/hero1.jpeg);
    background-position: center;
    background-size: cover;
}

/*LinkedinIcon animation*/
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border-radius: 15%;
    font-size: 2rem;
    color: aqua;
    margin: 3rem 1.5rem 3rem 0;
    text-decoration: none;
    transition: 2.5s ease;
}
/*linkedIn button animation*/

.social-media a:hover {
    background: rgba(0, 255, 255, 0.522);
    color: whitesmoke;
    box-shadow: 0 0 1rem cyan;
}

/*linkedIn button animation*/
.btn {
    display: inline-block;
    padding: 1rem 2rem;
    background: rgba(67, 223, 223, 0.849);
    border-radius: 10rem;
    box-shadow: 0 0 1rem rgb(0, 255, 255);
    font-size: 1.6rem;
    color: rgba(245, 245, 245, 0.634);
    letter-spacing: 1rem;
    font-weight: 600;
    text-decoration: none;
    font-family: serif;
    transition: .3s ease;

}

.btn:hover {
    box-shadow: none;

}

/*about section with grey box*/
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: rgba(245, 245, 245, 0.268);

} 
.about .btn{
    padding: 5%;
}

.about-image img {
    width: 70%;
}

.heading {
    text-align: left;
    font-size: 4rem;
}


.about-content h3 {
    font-size: 2.5rem;
}

.about-content p {
    font-size: 1.3rem;
    margin: 2rem 0 3rem;
}

.qualifications {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: rgba(245, 245, 245, 0.268);
}

.qualifications h2 {
    text-align: left;
    line-height: 1.2;
}

.qualifications h4 {
    text-align: left;
    line-height: 3;
    font-size: 2.5rem;
    color: aqua;

}

.contact h2 {
    margin-bottom: 3rem;
    text-align: center;
}

.contact form {
    max-width: 65rem;
    margin: 1rem;
    text-align: center;
    background: transparent;
    border: none;
    outline: none;


}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    background: transparent;
    border: none;
    font-size: 16px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.574);
}


.qualifications {
    font-size: 1.4rem;
    color: whitesmoke;
    text-align: center;
    ;

}

.home-img {
    width: 300%;
    height: auto
}

footer {
    background:rgba(0, 255, 255, 0.381);
}



@media(max-width:500px) {

    body {
        background: rgba(42, 172, 219, 0.255);
        width: 90%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 2%;
        margin-right: 3% ;
    }
    

    .home h1{
        color: rgb(95, 93, 93);
    }

    .home {
        background: url(/image/hero1.jpeg);
        background-position: center;
        background-size:contain;
        background-repeat: no-repeat;
        width: 24rem;
        height: 5%;
    }

    /*
grey box around Qualifications*/
.box{
    background:rgba(128, 128, 128, 0.286);
    padding: 20%;
    border-radius: 10%;
    
}

    .home-content p {
        font-size: 1.3rem;
        color: rgb(220, 219, 219);
        background: rgba(128, 128, 128, 0.471);
        padding: 10%;
        margin: 10%
    
    }

    /*Logo grey on  mobile*/
    .logo {
        font-size: 2.5rem;
        color: rgb(66, 63, 63);
        font-weight: 700;
        cursor: default;
        text-decoration: solid;
        font-style: inherit;
    
    }
    
    .btn {
        display: inline-block;
        padding: 1rem 2rem;
        background: rgba(8, 7, 7, 0.338);
        border-radius: 10rem;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.795);
        font-size: 1.6rem;
        color: rgba(246, 249, 249, 0.634);
        letter-spacing: 1rem;
        font-weight: 600;
        text-decoration: none;
        font-family:serif;
        transition: .3s ease;
    
    }
    
    .btn:hover {
        box-shadow:none;
    
    }


}

@media(min-width:800px) {
    body { width: 100%;
        background: rgb(31, 210, 226);
    }

    .header {
        background: grey;
    }

}



@media(min-width:1024px) {
    body {
        background: rgba(128, 128, 128, 0.842)
    }
}

